{% extends 'base.html.twig' %}

{% block title %}Nouvel question{% endblock %}

{% block body %}
<h1 class="text-center">New question</h1>
{{ form_start(form) }}
  {{ form_widget(form) }}
  <input type="submit" value="Submit your question" class="btn btn-primary" />
{{ form_end(form) }}
{% endblock %}
